<div *ngIf="config.show" class="ng-scroll-calendar" 
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">
  <div>
    <div class="calendar-head">
      <div>Sunday</div>
      <div>Monday</div>
      <div>Tuesday</div>
      <div>Wednesday</div>
      <div>Thursday</div>
      <div>Friday</div>
      <div>Saturday</div>
    </div>
    <div class="calendar-body">
      <ng-container *ngFor="let datesRow of DateSet">
        <ng-container *ngFor="let dateObj of datesRow">
          <div class="month-item" *ngIf="dateObj.month">{{dateObj.month}} {{dateObj.year}}</div>
          <div class="date-item {{dateObj.class}}" (click)="onDateSelect(dateObj)" *ngIf="!dateObj.month">{{dateObj.date}}</div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>